/* ------------------------------- */
/* Vertical Pagination Dots Styles */
/* ------------------------------- */

#pagination {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
  list-style: none;
  background-color: #006400;
}

#pagination .section-index {
  position: relative;
  margin: 20px 0;
  background: #7bd3f7;
  border-radius: 100%;
  width: 8px;
  height: 8px;
  transition: all 0.2s ease !important;
}

#pagination .section-index a {
  padding: 10px;
}

#pagination #WWBI1 {
  background-color: #d9d9d9;
}

#pagination #WWBI2 {
  border-radius: 4px;
  width: 16px;
  right: 4px;
  background-color: #ed1a39;
}

#pagination #WWBI3,
#pagination #WWBI4 {
  background-color: #ed1a39;
}

#pagination #WWBI5 {
  border-radius: 4px;
  width: 16px;
  right: 4px;
  background-color: #febd10;
}

#pagination #WWBI6 {
  background-color: #febd10;
}

#pagination #WWBI7 {
  border-radius: 4px;
  width: 16px;
  right: 4px;
  background-color: #7bd3f7;
}

#pagination li:hover {
  transform: scale(1.5);
}

#pagination a {
  position: absolute;
  text-decoration: none;
  left: 0;
  top: 0;
  color: inherit;
  width: 100%;
  height: 100%;
}

#pagination .back-to-top-button {
  position: absolute;
  transition: all 0.2s ease !important;
  margin: auto;
  width: 35px;
  left: 27px;
  bottom: 15px;
}

body.scrollPage-1 #pagination li:nth-of-type(1),
body.scrollPage-2 #pagination li:nth-of-type(2),
body.scrollPage-3 #pagination li:nth-of-type(3),
body.scrollPage-4 #pagination li:nth-of-type(4),
body.scrollPage-5 #pagination li:nth-of-type(5),
body.scrollPage-6 #pagination li:nth-of-type(6),
body.scrollPage-7 #pagination li:nth-of-type(7),
body.scrollPage-8 #pagination li:nth-of-type(8) {
  transform: scale(2);
}

* {
  margin: 0;
  padding: 0;
}

.scrollPage {
  height: 100vh;
  text-align: center;
  margin: auto;
}
.scrollPage h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#scrollPage1 {
  background: linear-gradient(to right, #3498db, #9b59b6);
}
#scrollPage2 {
  background: linear-gradient(to right, #2ecc71, #1abc9c);
}
#scrollPage3 {
  background: linear-gradient(to right, #e74c3c, #f39c12);
}
#scrollPage4 {
  background: linear-gradient(to right, #ff6b6b, #ffd166);
}
#scrollPage5 {
  background: linear-gradient(to right, #6a0572, #ab83a1);
}
#scrollPage6 {
  background: linear-gradient(to right, #ff6b6b, #e74c3c);
}
#scrollPage7 {
  background: linear-gradient(to right, #00bcd4, #03a9f4);
}
#scrollPage8 {
  background: linear-gradient(to right, #ffd700, #cd7f32);
}
#scrollPage9 {
  background: linear-gradient(to right, #006400, #00ff00);
}
