/* ------------------------------- */
/* Vertical Pagination Dots Styles */
/* ------------------------------- */

#pagination {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
  list-style: none;
}

#pagination .section-index {
  position: relative;
  margin: 20px 0;
  background: #7bd3f7;
  border-radius: 100%;
  width: 8px;
  height: 8px;
  transition: all 0.2s ease !important;
}
#pagination #WWBI1 {
  background-color: #d9d9d9;
}

#pagination #WWBI2 {
  border-radius: 4px;
  width: 16px;
  right: 4px;
  background-color: #ed1a39;
}

#pagination #WWBI3,
#pagination #WWBI4 {
  background-color: #ed1a39;
}

#pagination #WWBI5 {
  border-radius: 4px;
  width: 16px;
  right: 4px;
  background-color: #febd10;
}

#pagination #WWBI6 {
  background-color: #febd10;
}

#pagination #WWBI7 {
  border-radius: 4px;
  width: 16px;
  right: 4px;
  background-color: #7bd3f7;
}

#pagination li:hover {
  transform: scale(1.5);
}

#pagination a {
  position: absolute;
  text-decoration: none;
  left: 0;
  top: 0;
  color: inherit;
  width: 100%;
  height: 100%;
}

#pagination .back-to-top-button {
  position: absolute;
  transition: all 0.2s ease !important;
  margin: auto;
  width: 35px;
  left: 27px;
  bottom: 15px;
}

body.scrollPage-1 #pagination li:nth-of-type(1),
body.scrollPage-2 #pagination li:nth-of-type(2),
body.scrollPage-3 #pagination li:nth-of-type(3),
body.scrollPage-4 #pagination li:nth-of-type(4),
body.scrollPage-5 #pagination li:nth-of-type(5),
body.scrollPage-6 #pagination li:nth-of-type(6),
body.scrollPage-7 #pagination li:nth-of-type(7),
body.scrollPage-8 #pagination li:nth-of-type(8) {
  transform: scale(2);
}
